body {
  background-color: #202020;
  color: #000;
}

.brand-logo {
  padding-left: 0.2em !important;
  color: #000 !important;
  cursor: pointer;
}
.silver {
  background-color: #cdd2d8;
  color: #000 !important;
}

.btn:hover {
  background-image: linear-gradient(#3498db,#258cd1);
}
.btn.selected {
  /*background-image: linear-gradient(#3498db,#258cd1);*/
  background-image: linear-gradient(#155179,#1c6da2);
  color: #fff !important;
}
main {
  padding-top: 1em;
}

.app-option-li {
  display: inline;
  margin: 0 0.3em;
}
@media only screen and (max-width: 500px) {
  .app-option-li {
    /*font-size: 0.8em;*/
    padding: 0;
    display: inline-block;
    margin: 0 0;
  }
  .app-option-li a {
    font-size: 0.8em;
  }
}
.app-option {
  padding: 0 1em;
  margin: 0 0.1em;
}

.info-div {
  color: #fff !important;
}

.preformatted {
  /*font-size: 0.8em;*/
  /*font-family: monospace;*/
  white-space: pre-wrap;
  word-wrap: break-word;
}

canvas {
  background-color: #fff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
