<html>

<head>
  <base href="//dirtydeeds.cse.buffalo.edu/smartphones-exposed/" target="_blank">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>smartphones.exposed</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link href="static/css/main.css" rel="stylesheet" />
      <link href="//cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.css" rel="stylesheet" type="text/css">

      <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" defer></script>
      <script src="//code.jquery.com/jquery-1.7.2.min.js" defer></script>
      <script src="//code.jquery.com/ui/1.8.21/jquery-ui.min.js" defer></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" defer></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js" defer></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js" defer></script>
      <script src="static/js/test-my-device.js" defer></script>
      <script src="static/js/index.js" defer></script>

      <!-- Bokeh -->
      <script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.9.min.js" defer></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js" defer></script>
</head>

<body>
  <header id="header">
    <div id="body-div" class="container-fluid">
      <!-- First row -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper silver" style="width: 100%;">
            <div class="brand-logo">
              <a class="brand-logo" href="javascript:void(0);" target="_self">smartphones.exposed</a>
            </div>
            <!-- <a href="javascript:void(0)" data-activates="side-nav" class="button-collapse hide-on-med-and-up">
              <i class="material-icons">menu</i>
            </a> -->
          </div>
        </nav>
      </div>
      <div class="side-nav" id="side-nav">
      </div>
    </div>
  </header>

  <main>
    <div class="ng-cloak" ng-app="mainApp">
      <div class="container-fluid" ng-controller="indexController">
        <div class="row">
          <div class="col s12">
            <div style="width: 100%;">
              <div class="app-options center hide-on-med-and-down">
                <ul style="display: inline;">
                  <li class="app-option-li" ng-repeat="section in sections">
                    <a class="waves-effect waves-light btn silver app-option" data-href="{{section.href}}" data-id="{{section.id}}" ng-click="changeSection($event)">{{ section.label }}</a>
                  </li>
                </ul>
              </div>
              <div class="app-options hide-on-large-only">
                <ul style="display: inline;">
                  <li class="app-option-li" ng-repeat="section in sections">
                    <a class="waves-effect waves-light btn btn-small silver app-option" data-href="{{section.href}}" data-id="{{section.id}}" ng-click="changeSection($event)">{{ section.label }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div ng-view>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>
